@page
@using DevOpsProjectOne.Models;
@using System.Text.Json;
@using DevOpsProjectOne.Data;
@using DevOpsProjectOne.Pages.Users;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Suck</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



    <div>
    <a asp-page="/Users/Index">User List</a>
    </div>